openapi: 3.0.0

info:
  title: Design Museum Gent REST API Swagger Documentation

  version: 1.0.0
servers:
  - url: https://data.designmuseumgent.be
    description: Main (production server)
paths:
  #random-image
  /id/random-image:
    get:
      summary: API ENDPOINT to generate a list of random images of works from within the collection of Design Museum Gent.
      description: this query generates a list of (max. 100) images of random objects within the collection. Although the limit is set to 100, we advice to limit to lower searches as longer searches result in a longer loading time.
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
          description: set the limit for number objects to be shown on the page. set limit to none to fetch all records.
          example: 50
        - in: query
          name: pd
          schema:
            type: boolean
          description: set filter to only retrieve resources that are in the public domain.
          example: true
        - in: query
          name: color
          schema:
            type: string
            enum:
              [
                "Absolute Zero",
                "Acid green",
                "Aero",
                "Aer o blue",
                "African violet",
                "Air superiority blue",
                "Alabaster",
                "Alice blue",
                "Alloy orange",
                "Almond",
                "Amaranth",
                "Amaranth (M&P)",
                "Amaranth pink",
                "Amaranth purple",
                "Amaranth red",
                "Amazon",
                "Amber",
                "Amber (SAE/ECE)",
                "Amethyst",
                "Android green",
                "Antique brass",
                "Antique bronze",
                "Antique fuchsia",
                "Antique ruby",
                "Antique white",
                "Green (web)",
                "Apple green",
                "Apricot",
                "Spanish sky blue",
                "Aquamarine",
                "Arctic lime",
                "Army green",
                "Artichoke",
                "Hansa yellow",
                "Ash gray",
                "Asparagus",
                "Atomic tangerine",
                "Auburn",
                "Aureolin",
                "Avocado",
                "Azure",
                "Azure (X11/web color)",
                "Baby blue",
                "Baby blue eyes",
                "Tea rose",
                "Baby powder",
                "Schauss pink",
                "Banana Mania",
                "Barbie Pink",
                "Barn red",
                "Old silver",
                "Pale aqua",
                "Beaver",
                "Beige",
                "B'dazzled blue",
                "Big dip o’ruby",
                "Bisque",
                "Bistre",
                "Sand dune",
                "Bitter lemon",
                "Lime (color wheel)",
                "Bittersweet",
                "Bittersweet shimmer",
                "Black",
                "Black bean",
                "Black chocolate",
                "Black coffee",
                "Black coral",
                "Black olive",
                "Black Shadows",
                "Blanched almond",
                "Blast-off bronze",
                "Bleu de France",
                "Blizzard blue",
                "Blond",
                "Blood red",
                "Blue",
                "Blue (Crayola)",
                "Blue (Munsell)",
                "Blue (NCS)",
                "Blue (Pantone)",
                "Blue (pigment)",
                "Blue (RYB)",
                "Blue bell",
                "Livid",
                "Blue-green",
                "Blue-green (color wheel)",
                "Blue jeans",
                "Blue sapphire",
                "Blue-violet",
                "Blue-violet (Crayola)",
                "Blue-violet (color wheel)",
                "Blue yonder",
                "Bluetiful",
                "Blush",
                "Bole",
                "Bone",
                "Bottle green",
                "Brandy",
                "Brick red",
                "Bright green",
                "Bright lilac",
                "Maroon (Crayola)",
                "Navy blue (Crayola)",
                "Bright yellow (Crayola)",
                "Brilliant rose",
                "Brink pink",
                "British racing green",
                "Bronze",
                "Brown",
                "Brown sugar",
                "English green",
                "Bud green",
                "Buff",
                "Oxblood",
                "Burlywood",
                "Burnished brown",
                "Burnt orange",
                "Burnt sienna",
                "Burnt umber",
                "Byzantine",
                "Byzantium",
                "Cadet",
                "Cadet blue",
                "Cadet blue (Crayola)",
                "Cadet grey",
                "Cadmium green",
                "Cadmium orange",
                "Cadmium red",
                "Cadmium yellow",
                "Tuscan tan",
                "Café noir",
                "Cambridge blue",
                "Wood brown",
                "Cameo pink",
                "Canary",
                "Yellow (process)",
                "Candy apple red",
                "Tango pink",
                "Deep sky blue",
                "Caput mortuum",
                "Cardinal",
                "Caribbean green",
                "Carmine",
                "Carmine (M&P)",
                "Carnation pink",
                "Carnelian",
                "Carolina blue",
                "Carrot orange",
                "Castleton green",
                "Catawba",
                "Cedar Chest",
                "Celadon",
                "Cerulean",
                "Celadon green",
                "Italian sky blue",
                "Celtic blue",
                "Cerise",
                "Cerulean blue",
                "Cerulean frost",
                "Cerulean (Crayola)",
                "CG blue",
                "CG red",
                "Champagne",
                "Champagne pink",
                "Charcoal",
                "Charleston green",
                "Charm pink",
                "Chartreuse (traditional)",
                "Chartreuse (web)",
                "Cherry blossom pink",
                "Chestnut",
                "Thulian pink",
                "China rose",
                "Chinese red",
                "Chinese violet",
                "Chinese yellow",
                "Chocolate (traditional)",
                "Cocoa brown",
                "Chrome yellow",
                "Cinereous",
                "Vermilion",
                "Cinnamon Satin",
                "Citrine",
                "Citron",
                "Claret",
                "Cobalt blue",
                "Tuscan brown",
                "Columbia Blue",
                "Tea rose",
                "Cool grey",
                "Copper",
                "Copper (Crayola)",
                "Copper penny",
                "Copper red",
                "Copper rose",
                "Coquelicot",
                "Coral",
                "Cordovan",
                "Maize",
                "Cornflower blue",
                "Cornsilk",
                "Cosmic cobalt",
                "Cosmic latte",
                "Coyote brown",
                "Cotton candy",
                "Cream",
                "Crimson",
                "Crimson (UA)",
                "Cultured",
                "Cyan (process)",
                "Cyber grape",
                "Yellow (NCS)",
                "Cyclamen",
                "Dark blue-gray",
                "Dark brown",
                "Dark byzantium",
                "Dark cornflower blue",
                "Dark cyan",
                "Payne's grey",
                "Dark goldenrod",
                "Dark green",
                "Dark green (X11)",
                "Dark jungle green",
                "Dark khaki",
                "Taupe",
                "Dark liver",
                "Dark liver (horses)",
                "Dark magenta",
                "Dark moss green",
                "Dark olive green",
                "Dark orange",
                "Dark orchid",
                "Dark pastel green",
                "Dark purple",
                "Dark red",
                "Dark salmon",
                "Dark sea green",
                "Dark sienna",
                "Dark sky blue",
                "Dark slate blue",
                "Dark slate gray",
                "Dark spring green",
                "Dark turquoise",
                "Dark violet",
                "Dartmouth green",
                "Davy's grey",
                "Deep cerise",
                "Tuscan",
                "Deep chestnut",
                "Deep jungle green",
                "Deep pink",
                "Deep saffron",
                "Deep Space Sparkle",
                "Deep taupe",
                "Denim",
                "Denim blue",
                "Desert sand",
                "Dim gray",
                "Dodger blue",
                "Dogwood rose",
                "Duke blue",
                "Dutch white",
                "Earth yellow",
                "Ebony",
                "Sand",
                "Eerie black",
                "Eggplant",
                "Eggshell",
                "Egyptian blue",
                "Electric blue",
                "Lime (web) (X11 green)",
                "Electric indigo",
                "Electric lime",
                "Electric purple",
                "Violet",
                "Paris Green",
                "Eminence",
                "English lavender",
                "English red",
                "English vermillion",
                "English violet",
                "Erin",
                "Eton blue",
                "Falu red",
                "Fandango",
                "Fandango pink",
                "Hollywood cerise",
                "Fawn",
                "Feldgrau",
                "Fern green",
                "Field drab",
                "Fiery rose",
                "Firebrick",
                "Fire engine red",
                "Fire opal",
                "Flame",
                "Flax",
                "Flickr Blue",
                "Flickr Pink",
                "Flirt",
                "Floral white",
                "Fluorescent blue",
                "Forest green (Crayola)",
                "UP Forest green",
                "Forest green (web)",
                "French bistre",
                "French blue",
                "French fuchsia",
                "Pomp and Power",
                "French lime",
                "French mauve",
                "French pink",
                "French raspberry",
                "French rose",
                "French sky blue",
                "French violet",
                "Frostbite",
                "Magenta",
                "Fuchsia (Crayola)",
                "Fuchsia purple",
                "Fuchsia rose",
                "Fulvous",
                "Fuzzy Wuzzy",
                "Gainsboro",
                "Gamboge",
                "Generic viridian",
                "Ghost white",
                "Glaucous",
                "Glossy grape",
                "GO green",
                "Gold",
                "Gold (metallic)",
                "Gold (web) (Golden)",
                "Gold (Crayola)",
                "Gold Fusion",
                "Golden brown",
                "Golden poppy",
                "Golden yellow",
                "Goldenrod",
                "Granite gray",
                "Granny Smith apple",
                "Gray (web)",
                "Gray (X11 gray)",
                "Green (Crayola)",
                "Green (Munsell)",
                "Green (NCS)",
                "Green (Pantone)",
                "Green (pigment)",
                "Green (RYB)",
                "Green-blue",
                "Green-blue (Crayola)",
                "Green-cyan",
                "Green Lizard",
                "Green Sheen",
                "Green-yellow",
                "Green-yellow (Crayola)",
                "Grullo",
                "Gunmetal",
                "Han blue",
                "Han purple",
                "Harlequin",
                "Harvest gold",
                "Heat Wave",
                "Heliotrope",
                "Rose quartz",
                "Honeydew",
                "Honolulu blue",
                "Hooker's green",
                "Hot magenta",
                "Hot pink",
                "Hunter green",
                "Iceberg",
                "Icterine",
                "Illuminating emerald",
                "Red (Pantone)",
                "Inchworm",
                "Independence",
                "India green",
                "Indian red",
                "Indian yellow",
                "Indigo",
                "Indigo dye",
                "International Klein Blue",
                "International orange (aerospace)",
                "International orange (engineering)",
                "International orange (Golden Gate Bridge)",
                "Iris",
                "Raspberry rose",
                "Isabelline",
                "Ivory",
                "Jade",
                "Mellow yellow",
                "Jazzberry jam",
                "Jet",
                "Jonquil",
                "June bud",
                "Jungle green",
                "Kelly green",
                "Keppel",
                "Key lime",
                "Khaki (web)",
                "Khaki (X11) (Light khaki)",
                "Sienna",
                "Kobi",
                "Kobicha",
                "Kombu green",
                "KSU purple",
                "Languid lavender",
                "Lapis lazuli",
                "Unmellow yellow",
                "Laurel green",
                "Lava",
                "Lavender (floral)",
                "Lavender (web)",
                "Periwinkle",
                "Lavender blush",
                "Lavender gray",
                "Lawn green",
                "Yellow Sunshine",
                "Lemon chiffon",
                "Lemon curry",
                "Lemon glacier",
                "Lemon meringue",
                "Lemon yellow",
                "Lemon yellow (Crayola)",
                "Liberty",
                "Light blue",
                "Light coral",
                "Light cornflower blue",
                "Light cyan",
                "Light French beige",
                "Light goldenrod yellow",
                "Light gray",
                "Light green",
                "Light orange",
                "Light periwinkle",
                "Light pink",
                "Light salmon",
                "Light sea green",
                "Light sky blue",
                "Light slate gray",
                "Light steel blue",
                "Light yellow",
                "Lilac",
                "Lilac Luster",
                "Lime green",
                "Lincoln green",
                "Linen",
                "Little boy blue",
                "Liver",
                "Liver (dogs)",
                "Liver (organ)",
                "Liver chestnut",
                "Macaroni and Cheese",
                "Madder Lake",
                "Magenta (Crayola)",
                "Magenta (dye)",
                "Magenta (Pantone)",
                "Magenta (process)",
                "Magenta haze",
                "Magic mint",
                "Magnolia",
                "Mahogany",
                "Maize (Crayola)",
                "Majorelle blue",
                "Malachite",
                "Manatee",
                "Mandarin",
                "Mango",
                "Mango Tango",
                "Mantis",
                "Mardi Gras",
                "Marigold",
                "Maroon (web)",
                "Maroon (X11)",
                "Mauve",
                "Raspberry glace",
                "Mauvelous",
                "Maximum blue",
                "Maximum blue green",
                "Maximum blue purple",
                "Maximum green",
                "Maximum green yellow",
                "Maximum purple",
                "Maximum red",
                "Maximum red purple",
                "Maximum yellow",
                "Maximum yellow red",
                "May green",
                "Maya blue",
                "Medium aquamarine",
                "Medium blue",
                "Medium candy apple red",
                "Medium carmine",
                "Vanilla",
                "Medium orchid",
                "Medium purple",
                "Medium sea green",
                "Medium slate blue",
                "Medium spring green",
                "Medium turquoise",
                "Red-violet",
                "Mellow apricot",
                "Melon",
                "Metallic gold",
                "Metallic Seaweed",
                "Metallic Sunburst",
                "Mexican pink",
                "Middle blue",
                "Middle blue green",
                "Middle blue purple",
                "Middle grey",
                "Middle green",
                "Middle green yellow",
                "Middle purple",
                "Middle red",
                "Middle red purple",
                "Middle yellow",
                "Middle yellow red",
                "Midnight",
                "Midnight blue",
                "Midnight green (eagle green)",
                "Mikado yellow",
                "Mimi pink",
                "Mindaro",
                "Ming",
                "Minion yellow",
                "Mint",
                "Mint cream",
                "Mint green",
                "Misty moss",
                "Misty rose",
                "Morning blue",
                "Turtle green",
                "Mountain Meadow",
                "Mountbatten pink",
                "MSU green",
                "Mulberry",
                "Mulberry (Crayola)",
                "Mustard",
                "Myrtle green",
                "Mystic",
                "Mystic maroon",
                "Nadeshiko pink",
                "Stil de grain yellow",
                "Navajo white",
                "Navy blue",
                "Neon blue",
                "Neon green",
                "New York pink",
                "Nickel",
                "Non-photo blue",
                "Nyanza",
                "Ocean Blue",
                "Ocean green",
                "Ochre",
                "Old burgundy",
                "Old gold",
                "Old lace",
                "Old lavender",
                "Wine dregs",
                "Old rose",
                "Olive",
                "Olive Drab (#3)",
                "Olive Drab (#7)",
                "Olive green",
                "Olivine",
                "Onyx",
                "Opal",
                "Opera mauve",
                "Orange",
                "Orange (Crayola)",
                "Orange (Pantone)",
                "Orange (web)",
                "Orange peel",
                "Red-orange (Crayola)",
                "Red-orange",
                "Orange soda",
                "Orange-yellow",
                "Orange-yellow (Crayola)",
                "Orchid",
                "Orchid pink",
                "Orchid (Crayola)",
                "Outer space (Crayola)",
                "Outrageous Orange",
                "Oxford blue",
                "OU Crimson red",
                "Pacific blue",
                "Pakistan green",
                "Palatinate purple",
                "Pale cerulean",
                "Pale pink",
                "Pale purple (Pantone)",
                "Silver (Crayola)",
                "Spring green (Crayola)",
                "Pansy purple",
                "Paolo Veronese green",
                "Papaya whip",
                "Paradise pink",
                "Pastel pink",
                "Purple (web)",
                "Peach",
                "Peach (Crayola)",
                "Peach puff",
                "Pear",
                "Pearly purple",
                "Periwinkle (Crayola)",
                "Permanent Geranium Lake",
                "Persian blue",
                "Persian green",
                "Persian indigo",
                "Persian orange",
                "Persian pink",
                "Prune",
                "Persian red",
                "Persian rose",
                "Persimmon",
                "Pewter Blue",
                "Psychedelic purple",
                "Phthalo blue",
                "Phthalo green",
                "Picotee blue",
                "Pictorial carmine",
                "Piggy pink",
                "Pine green",
                "Pine tree",
                "Pink",
                "Pink (Pantone)",
                "Pink flamingo",
                "Pink lace",
                "Pink lavender",
                "Pink Sherbet",
                "Pistachio",
                "Platinum",
                "Plum",
                "Plum (web)",
                "Plump Purple",
                "Polished Pine",
                "Popstar",
                "Portland Orange",
                "Powder blue",
                "Princeton orange",
                "Prussian blue",
                "Puce",
                "Pullman Brown (UPS Brown)",
                "Pumpkin",
                "Purple",
                "Purple (Munsell)",
                "Veronica",
                "Purple mountain majesty",
                "Purple navy",
                "Purple pizzazz",
                "Purple Plum",
                "Purpureus",
                "Queen blue",
                "Queen pink",
                "Quick Silver",
                "Quinacridone magenta",
                "Radical Red",
                "Raisin black",
                "Rajah",
                "Raspberry",
                "Raw Sienna",
                "Raw umber",
                "Razzle dazzle rose",
                "Razzmatazz",
                "Razzmic Berry",
                "Rebecca Purple",
                "Red",
                "Red (Crayola)",
                "Red (Munsell)",
                "Red (NCS)",
                "Red (pigment)",
                "Red (RYB)",
                "Red-orange (Color wheel)",
                "Red-purple",
                "Red Salsa",
                "Red-violet (Crayola)",
                "Red-violet (Color wheel)",
                "Redwood",
                "Resolution blue",
                "Rhythm",
                "Rich black",
                "Rich black (FOGRA29)",
                "Rich black (FOGRA39)",
                "Rifle green",
                "Robin egg blue",
                "Rocket metallic",
                "Roman silver",
                "Rose",
                "Rose bonbon",
                "Rose Dust",
                "Rose ebony",
                "Rose madder",
                "Rose pink",
                "Rose red",
                "Rose taupe",
                "Rose vale",
                "Rosewood",
                "Rosso corsa",
                "Rosy brown",
                "Royal blue (dark)",
                "Royal blue (light)",
                "Royal purple",
                "Ruber",
                "Rubine red",
                "Ruby",
                "Ruby red",
                "Rufous",
                "Russet",
                "Russian green",
                "Russian violet",
                "Rust",
                "Rusty red",
                "Sacramento State green",
                "Saddle brown",
                "Safety orange",
                "Safety orange (blaze orange)",
                "Safety yellow",
                "Saffron",
                "Sage",
                "St. Patrick's blue",
                "Salmon",
                "Salmon pink",
                "Sandy brown",
                "Sap green",
                "Sapphire",
                "Sapphire (Crayola)",
                "Satin sheen gold",
                "Scarlet",
                "School bus yellow",
                "Screamin' Green",
                "Sea green",
                "Sea green (Crayola)",
                "Seal brown",
                "Seashell",
                "Selective yellow",
                "Sepia",
                "Shadow",
                "Shadow blue",
                "Shamrock green",
                "Sheen green",
                "Shimmering Blush",
                "Shiny Shamrock",
                "Shocking pink",
                "Ultra pink",
                "Silver",
                "Silver (Metallic)",
                "Silver chalice",
                "Silver pink",
                "Silver sand",
                "Sinopia",
                "Sizzling Red",
                "Sizzling Sunrise",
                "Skobeloff",
                "Sky blue",
                "Sky blue (Crayola)",
                "Sky magenta",
                "Slate blue",
                "Slate gray",
                "Slimy green",
                "Smitten",
                "Smoky black",
                "Snow",
                "Solid pink",
                "Sonic silver",
                "Space cadet",
                "Spanish bistre",
                "Spanish blue",
                "Spanish carmine",
                "Spanish gray",
                "Spanish green",
                "Spanish orange",
                "Spanish pink",
                "Spanish red",
                "Spanish violet",
                "Spanish viridian",
                "Spring bud",
                "Spring Frost",
                "Spring green",
                "Star command blue",
                "Steel blue",
                "Steel pink",
                "Steel Teal",
                "Straw",
                "Sugar Plum",
                "Sunglow",
                "Sunray",
                "Super pink",
                "Sweet Brown",
                "Tan",
                "Tan (Crayola)",
                "Tangerine",
                "Tart Orange",
                "Taupe gray",
                "Tea green",
                "Teal",
                "Teal blue",
                "Telemagenta",
                "Tenné (tawny)",
                "Terra cotta",
                "Thistle",
                "Tickle Me Pink",
                "Tiffany Blue",
                "Timberwolf",
                "Titanium yellow",
                "Tomato",
                "Tropical rain forest",
                "True Blue",
                "Trypan Blue",
                "Tufts blue",
                "Tumbleweed",
                "Turquoise",
                "Turquoise blue",
                "Turquoise green",
                "Tuscan red",
                "Tuscany",
                "Twilight lavender",
                "Tyrian purple",
                "UA blue",
                "UA red",
                "Ultramarine",
                "Ultramarine blue",
                "Wild watermelon",
                "Umber",
                "Unbleached silk",
                "United Nations blue",
                "UP maroon",
                "Upsdell red",
                "Uranian blue",
                "USAFA blue",
                "Van Dyke brown",
                "Vanilla ice",
                "Vegas gold",
                "Venetian red",
                "Verdigris",
                "Vermilion",
                "Violet (color wheel)",
                "Violet (crayola)",
                "Violet (RYB)",
                "Violet (web)",
                "Violet-blue",
                "Violet-blue (Crayola)",
                "Violet-red",
                "Viridian",
                "Viridian green",
                "Vivid burgundy",
                "Vivid sky blue",
                "Vivid tangerine",
                "Vivid violet",
                "Volt",
                "Warm black",
                "Wheat",
                "White",
                "Wild blue yonder",
                "Wild orchid",
                "Wild Strawberry",
                "Windsor tan",
                "Wine",
                "Winter Sky",
                "Wintergreen Dream",
                "Wisteria",
                "Xanthic",
                "Xanadu",
                "Xiketic",
                "Yale Blue",
                "Yellow",
                "Yellow (Crayola)",
                "Yellow (Munsell)",
                "Yellow (Pantone)",
                "Yellow (RYB)",
                "Yellow-green",
                "Yellow-green (Crayola)",
                "Yellow-green (Color Wheel)",
                "Yellow Orange",
                "Yellow Orange (Color Wheel)",
                "YInMn Blue",
                "Zaffre",
                "Zomp",
              ]
            example: "Hooker's green"

          description: filter images based on color choice out of list containing CSS colors.

      responses:
        200: #status code
          description: a json array of random images
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    "resource":
                      type: string
                      maxItems: 1
                    "object_number":
                      type: string
                      maxItems: 1
                    "license":
                      type: string
                      maxItems: 1
                    "attribution":
                      type: string
                      maxItems: 1

  #objects
  /id/objects:
    get:
      summary: API ENDPOINT to GET a list of objects from the collection of Design Museum Gent.
      description: a list of data describing objects from the collection of Design Museum Gent
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
          description: set the limit for number objects to be shown on the page. set limit to none to fetch all records.
          example: 10

        - in: query
          name: offset
          schema:
            type: integer
          description: set the offset of the get request (recursively move through paginated objects based on the limit)
          example: 2

#        - in: query
#          name: idOnly
#          schema:
#            type: boolean
#          description: if true, return ids only (object numbers).
#          example: true;

      responses:
        "200": #status code
          description: a json array of all the unique objects published from the collection of Design Museum Gent
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    "@context":
                      type: array
                    "@id":
                      type: string
                      maxItems: 1
                    "@type":
                      type: string
                      maxItems: 1
                    "Object.identificator":
                      type: array
                      items:
                        type: object
                        properties:
                          "@type":
                            type: string
                          "Identificator.identificator":
                            type: object
                            properties:
                              "@value":
                                type: string
  /id/object/{id}:
    get:
      summary: API ENDPOINT to GET metadata on a specific object from the collection of Design Museum Gent.
      description: metadata on a specific object that has been digitized and published from the collection of Design Museum Gent.
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
          description: api query to fetch a specific object based on the input ID (object number).
          example: 1987-0942
        - in: query
          name: manifest
          required: false
          schema:
            type: boolean
          description: api query to return only manifest as result.
          example: false
      #      - in: query
      #        name: format
      #        required: false
      #        schema:
      #          type: string
      #          enum:
      #            - json
      #            - html
      #        description: define format for content negotiation.

      responses:
        "200": #status code
          content:
            application/json:
              schema:
                type: object

  /id/exhibitions:
    get:
      summary: API ENDPOINT to GET a list of exhibitions documented by the museum and related to published objects from the collection of Design Museum Gent.
      description: a list of exhibitions documented by the museum and related to published objects from the collection of Design Museum Gent.
      responses:
        "200":
          description: array of exhibitions documented by the museum and related to published objects from the collection of Design Museum Gent
          content:
            "application/json":
              schema:
                type: array
                items:
                  type: object
                  properties:
                    "@id":
                      type: string
                      maxItems: 1
                    "cidoc:P1_is_identified_by":
                      type: object
                      properties:
                        "@type":
                          type: string
                        "inhoud":
                          type: object
                          properties:
                            "@value":
                              type: string
                            "@language":
                              type: string

  /id/exhibition/{id}: #exhibitions
    get:
      summary: API ENDPOINT to GET metadata on a specific exhibition
      description: metadata on a specific exhibition that is associated with objects from which data has been published by Design Museum Gent
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: id to fetch specific exhibition data
          example: TE_2021-008

      responses:
        "200": # status code
          description: an object containing metadata on a specific exhibition

  /id/exhibitions/billboardseries/: #billboards
    get:
      summary: API ENDPOINT to GET a list of all billboards displayed at Design Museum Gent
      description: a list of all billboards hosted by Design Museum Gent in JSON-LD
      responses:
        "200": #status code
          description: a JSON array of metadata on billboards organized by 019 and hosted by Design Museum Gent
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    "@type":
                      type: string
                      maxItems: 1

                    # context
                    context:
                      type: object
                      properties:
                        la:
                          type: string
                          maxItems: 1
                        cest:
                          type: string
                          maxItems: 1
                        foaf:
                          type: string
                          maxItems: 1
                        prov:
                          type: string
                          maxItems: 1
                        skos:
                          type: string
                          maxItems: 1
                        cidoc:
                          type: string
                          maxItems: 1
                        label:
                          type: string
                          maxItems: 1
                        inhoud:
                          type: string
                          maxItems: 1
                        "foaf:page":
                          type: object
                          properties:
                            "@type":
                              type: string
                              maxItems: 1
                        "opmerking":
                          type: string
                          maxItems: 1
                        equivalent:
                          type: object
                          properties:
                            "@id":
                              type: string
                              maxItems: 1
                            "@type":
                              type: string
                              maxItems: 1
                        "dcterms:isVersionOf":
                          type: object
                          properties:
                            "@type":
                              type: string
                              maxItems: 1

                      # entiteit.type
                    "Entiteit.type":
                      type: object
                      properties:
                        "@id":
                          type: string
                          maxItems: 1
                        "skos.prefLabel":
                          type: object
                          properties:
                            "@value":
                              type: string
                            "@language":
                              type: string

                    #gebeurtenis.tijd
                    "Gebeurtenis.tijd":
                      type: object
                      properties:
                        "@type":
                          type: string
                          maxItems: 1
                        "@value":
                          type: string

                    #gebeurtenis.plaats
                    "gebeurtenis.plaats":
                      type: object
                      properties:
                        "@type":
                          type: string
                          maxItems: 1
                        equivalent:
                          type: object
                          properties:
                            "@id":
                              type: string
                              maxItems: 1
                            "skos.prefLabel":
                              type: object
                              properties:
                                "@value":
                                  type: string
                                "@language":
                                  type: string

                    #activiteit.gebruiktObject
                    "activiteit.gebruiktObject":
                      type: object
                      properties:
                        "@type":
                          type: string
                          maxItems: 1
                        "MaterieelDing.productie":
                          type: array
                          items:
                            type: object
                            properties:
                              "Activiteit.uitgevoerdDoor":
                                type: array
                                items:
                                  type: object
                                  properties:
                                    "@type":
                                      type: string
                                      maxItems: 1
                                    equivalent:
                                      type: object
                                      properties:
                                        "@id":
                                          type: string
                                          maxItems: 1
                                        "@type":
                                          type: string
                                          maxItems: 1
                                        label:
                                          type: object
                                          properties:
                                            value:
                                              type: string
                                            language:
                                              type: string
                        "MensgemaaktObject.titel":
                          type: string
                        "MensegemaaktObject.beschrijving":
                          type: array
                          items:
                            type: object
                            properties:
                              "@value":
                                type: string
                              "@language":
                                type: string

  /id/agents: # agent list
    get:
      summary: API ENDPOINT to GET a list of agents related to the collection and program of Design Museum Gent
      description: a list of agents associated with objects from which the data has been published by Design Museum Gent
      responses:
        "200":
          description: a JSON array of metadata on agents associated with objects from which the data has been published by Design Museum Gent

  /id/agent/{id}: #exhibitions
    get:
      summary: API ENDPOINT to GET metadata on a specific agent related to the collection and program of Design Museum Gent
      description: metadata on a specific agent that is associated with objects from which data has been published by Design Museum Gent
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: id to fetch specific agent data
          example: DMG-A-00028

      responses:
        "200": # status code
          description: an object containing metadata on a specific agent

  /id/texts:
    get:
      summary: API ENDPOINT to GET a list of texts related to objects and the program of Design Museum Gent
      description: a list of texts describing objects and exhibitions related to the collection of Design Museum Gent
      responses:
        "200":
          description: a JSON array of texts (in different languages) associated with objects from which the data has been published by Design Museum Gent.
