openapi: 3.0.0

info:
  title: Design Museum Gent REST API Swagger Documentation
  description: |
    
    Welcome to the Swagger documentation for the Design Museum Gent REST API! This documentation provides a comprehensive guide on how to interact with the REST API published at data.designmuseumgent.be. Whether you're a developer, data enthusiast, or simply curious about the museum's data, this documentation will assist you in understanding and utilizing the API effectively.
    

    #### Api Overview
    The Design Museum Gent REST API enables you to retrieve and interact with a wealth of data related to the museum's exhibitions, collections, events, and more. By leveraging this API, you can build innovative applications, create engaging visualizations, conduct research, and explore the fascinating world of design through data.
        This Swagger documentation is structured to provide you with a clear and intuitive way to explore the API's endpoints, parameters, request/response formats, and authentication mechanisms, if applicable. Each section is organized to ensure you have all the necessary information at your fingertips to start using the API efficiently.
        To get started, we recommend familiarizing yourself with the "Endpoints" section, which lists all available API endpoints along with their descriptions. Each endpoint provides details on the supported methods, required parameters, and example requests/responses. The documentation also includes examples in multiple programming languages to assist you in implementing the API in your preferred environment.
    We're excited to have you explore the Design Museum Gent REST API! So go ahead, dive into the documentation, and unleash your creativity. If you have any questions, encounter issues, or would like to provide feedback, please don't hesitate to reach out to us. Happy exploring and enjoy the journey into the world of design data!

  version: 1.0.0
servers:
  - url: https://data.designmuseumgent.be
    description: Main (production server)
paths:
  #objects
  /objects:
    get:
      summary: get a list of objects from the collection of Design Museum Gent
      description: a list of data describing objects from the collection of Design Museum Gent
      parameters:

      - in: query
        name: limit
        schema:
          type: integer
        description: set the limit for number objects to be shown on the page.
        example: 10

      - in: query
        name: offset
        schema:
          type: integer
        description: set the offset of the get request (recursively move through paginated objects based on the limit)
        example: 2

      responses:
        '200': #status code
          description: a json array of all the unique objects published from the collection of Design Museum Gent
          content:
            application/json:
              schema:
                  type: array
                  items:
                    type: object
                    properties:
                      "@context":
                        type: array
                      "@id":
                        type: string
                        maxItems: 1
                      "@type":
                        type: string
                        maxItems: 1
                      "Object.identificator":
                        type: array
                        items:
                          type: object
                          properties:
                            "@type":
                              type: string
                            "Identificator.identificator":
                              type: object
                              properties:
                                "@value":
                                  type: string
  /object/{id}.{format}:
    get:
      summary:
        get metadata on a specific object from the collection of Design Museum Gent.
      description: metadata on a specific object that has been digitized and published from the collection of Design Museum Gent.
      produces:
        - text/html
        - application/json
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
        description: id (object number) of a specific object to fetch metadata from.
        example: 1987-0942

      - in: query
        name: format
        required: false
        schema:
          type: string
          enum:
            - json
            - html
        description: define format for content negotiation.

      responses:
        '200': #status code
          content:
            application/json:
            html/text:

  /exhibitions:
    get:
      summary: get a list of exhibitions documented by the museum and related to published objects from the collection of Design Museum Gent.
      description: a list of exhibitions documented by the museum and related to published objects from the collection of Design Museum Gent.
      responses:
        '200':
          description: array of exhibitions documented by the museum and related to published objects from the collection of Design Museum Gent
          content:
            'application/json':
              schema:
                type: array
                items:
                  type: object
                  properties:
                    "@id":
                      type: string
                      maxItems: 1
                    "cidoc:P1_is_identified_by":
                      type: object
                      properties:
                        "@type":
                          type: string
                        "inhoud":
                          type: object
                          properties:
                            "@value":
                              type: string
                            "@language":
                              type: string

  /exhibition/{id}: #exhibitions
    get:
      summary: get metadata on a specific exhibition
      description: metadata on a specific exhibition that is associated with objects from which data has been published by Design Museum Gent
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: id to fetch specific exhibition data
          example: TE_2021-008

      responses:
        '200': # status code
          description: an object containing metadata on a specific exhibition



  /exhibitions/billboardseries/: #billboards
    get:
      summary: a list of all billboards
      description: a list of all billboards hosted by Design Museum Gent in JSON-LD
      responses:
        '200': #status code
          description: a JSON array of metadata on billboards organized by 019 and hosted by Design Museum Gent
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    "@type":
                      type: string
                      maxItems: 1

                    # context
                    context:
                      type: object
                      properties:
                        la:
                          type: string
                          maxItems: 1
                        cest:
                          type: string
                          maxItems: 1
                        foaf:
                          type: string
                          maxItems: 1
                        prov:
                          type: string
                          maxItems: 1
                        skos:
                          type: string
                          maxItems: 1
                        cidoc:
                          type: string
                          maxItems: 1
                        label:
                          type: string
                          maxItems: 1
                        inhoud:
                          type: string
                          maxItems: 1
                        "foaf:page":
                          type: object
                          properties:
                            "@type":
                              type: string
                              maxItems: 1
                        "opmerking":
                          type: string
                          maxItems: 1
                        equivalent:
                          type: object
                          properties:
                            "@id":
                              type: string
                              maxItems: 1
                            "@type":
                              type: string
                              maxItems: 1
                        "dcterms:isVersionOf":
                          type: object
                          properties:
                            "@type":
                              type: string
                              maxItems: 1

                     # entiteit.type
                    "Entiteit.type":
                      type: object
                      properties:
                        "@id":
                          type: string
                          maxItems: 1
                        "skos.prefLabel":
                          type: object
                          properties:
                            "@value":
                              type: string
                            "@language":
                              type: string

                    #gebeurtenis.tijd
                    "Gebeurtenis.tijd":
                      type: object
                      properties:
                        "@type":
                          type: string
                          maxItems: 1
                        "@value":
                          type: string

                    #gebeurtenis.plaats
                    "gebeurtenis.plaats":
                      type: object
                      properties:
                        "@type":
                          type: string
                          maxItems: 1
                        equivalent:
                          type: object
                          properties:
                            "@id":
                              type: string
                              maxItems: 1
                            "skos.prefLabel":
                              type: object
                              properties:
                                "@value":
                                  type: string
                                "@language":
                                  type: string

                    #activiteit.gebruiktObject
                    "activiteit.gebruiktObject":
                      type: object
                      properties:
                        "@type":
                          type: string
                          maxItems: 1
                        "MaterieelDing.productie":
                          type: array
                          items:
                            type: object
                            properties:
                              "Activiteit.uitgevoerdDoor":
                                type: array
                                items:
                                  type: object
                                  properties:
                                    "@type":
                                      type: string
                                      maxItems: 1
                                    equivalent:
                                      type: object
                                      properties:
                                        "@id":
                                          type: string
                                          maxItems: 1
                                        "@type":
                                          type: string
                                          maxItems: 1
                                        label:
                                          type: object
                                          properties:
                                            value:
                                              type: string
                                            language:
                                              type: string
                        "MensgemaaktObject.titel":
                          type: string
                        "MensegemaaktObject.beschrijving":
                          type: array
                          items:
                            type: object
                            properties:
                              "@value":
                                type: string
                              "@language":
                                type: string


  /agents: # agent list
    get:
      summary: a list of agents
      description: a list of agents associated with objects from which the data has been published by Design Museum Gent
      responses:
        '200': # status code

  /texts:
    get:
      summary: a list of texts
      description: a list of texts describing objects and exhibitions related to the collection of Design Museum Gent
      responses:
        '200':